.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
}

h1 {
    font-size: 3rem;
}

.buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    
}
