.note-container {
  display: flex;
  gap: 3rem;
  list-style: none;
  flex-wrap: wrap;
}

@media (max-width: 28.125rem) {
  .note-container {
    align-items: center;
    justify-content: center;
  }
}
